---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
  class="appearance-none py-3 px-6 bg-gradient-to-r from-teal-600 to-blue-700 text-white font-semibold rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105 hover:from-teal-700 hover:to-blue-800 focus:outline-none focus:ring-4 focus:ring-teal-300 focus:ring-opacity-75"
>
  <slot />
</button>

<script>
  import confetti from 'canvas-confetti';
  const button = document.body.querySelector('button');

  if (button) {
    button.addEventListener('click', () => confetti());
  }
</script>

