---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Wails + Astro + Tailwind + Shadcn</title>
  </head>

  <body class="bg-gradient-to-r from-purple-800 via-blue-900 to-teal-900">
    <div class="grid place-items-center h-screen px-4 text-white">
      <h1 class="text-6xl font-extrabold text-center mb-4">
        Wails + Astro + Tailwind + Shadcn
      </h1>

      <img
        src="src/assets/thumb.png"
        alt="Wails + Astro + Tailwind + Shadcn"
        class="rounded-xl shadow-xl max-w-full h-auto mb-4"
      />

      <Button>Click me for confetti!</Button>
    </div>
  </body>
</html>
